html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #efefef;
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 1000px;
	height: auto;
	padding-top: 50px;
}

/*===============================================
global
================================================*/
.row {
	margin-top: 0px;
	margin-bottom: 5%;
}
.row>h5 {
	margin-top: 0px;
	margin-bottom: 5px;
}
.div {
	width: 100px;
	height: 100px;
}

.fx {
	transition: all 0.5s;
}

/*===============================================
divs
================================================*/
/* show hide div ------------------------------ */
.div-1 {
	width: 100px;
	height: 0px;
	background-color: burlywood;
}

/* change color ------------------------------- */
.div-2 {
	background-color: darkgoldenrod;
}

/* move div ----------------------------------- */
.div-3-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.div-3-wrppr {
	text-align: center;
}
.div-3 {
	background-color: darkgreen;
}

/* Add Remove Border -------------------------- */
.div-4 {
	background-color: burlywood;
	border: 0px solid #555555;
}

/* Add Remove Radius -------------------------- */
.div-5 {
	background-color: darkseagreen;
}

/* inc dec image size ------------------------------ */
.div-8-wrppr .img-frme {
	background-image: url(imgs/boat.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 200px;
}

.div-8-wrppr {
	cursor: pointer;
}
